.page-scroll {
    margin-top: 1em;
}

.modal-header, .modal-body, .modal-footer {
    background-color: transparent;
}

.modal-block {
    padding-bottom: 1em;
}
#modal-text {
    margin-top: 1em;
}

.center-block {
    float: none;
}

.modal-body p {
    font-size: 1.2em;
}

.purchase-btn {
    margin-bottom: 2em;
}

.subtitle {
    font-style: italic;
    font-size: .9em;
}

.input-group-btn .btn {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.modal-container {
    background: url(../img/vip-background.jpg) no-repeat;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media screen and (max-width: 768px) {
    .modal-block-right {
        margin-top: 1em;
        border-top: solid #FFFFFF 1px;
        padding-top: 2em;
    }

}

.disclaimer-footer {
    font-size: .6em;
}

.spacer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.glyphicon {
    color: #000000;
}

.has-error {
    color: #a94442;
}

.has-success {
    color: #3c763d;
}