@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

body {
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

header {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
}

#test {
    background-color: #ffffff;
    position: relative;
    margin-top: 30%;
    display: none;
}