<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">

    <title>UW League of Legends - 2015 Worlds Viewing Party</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.1/ui-bootstrap-tpls.min.js"></script>

    <link href="css/main.css" rel="stylesheet" type="text/css">

    <script src="js/app.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="ngApp" ng-controller="CtrlMain">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    League of Legends @ UW | PCM
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ticket-information">Event & Ticket Information</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#venue-information">Venue Information</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">League till its lights out</h1>
                        <h2>2015 Worlds Viewing Party</h2>
                        <img id="logo-resize" src="img/logo-white.png">

                        <h2>3:00 AM - October 31</h2>
                        <h3 class="intro-address">700 Bellevue Way Ne</h3>
                        <h3 class="intro-address">Bellevue, WA 98004</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="ticket-information" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Event Information</h2>
                <p>This year, PCM is partnering with Coca-Cola Esports and Cinemark to bring you an epic World Finals experience! We've got an IMAX Screen and 500 seats reserved for PCM members at the Cinemark. In addition to the Championship Kalista cup provided by Coke, PCM will have tons of activities, swag, skins, and other awesome gear for you and your friends!</p>
                <button class="btn btn-default btn-lg"  ng-click="open('lg')">Ticket Information</button>
                <br>
                <a href="#venue-information" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="venue-information" class="content-section text-center">
        <div class="additional-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Cinemark Lincoln Square</h2>
                    <p>The Lincoln Square Cinemark features IMAX screens, reclining leather seats, a gelato bar, and all the usual theatre amenities.</p>
                    <button class="btn btn-default btn-lg" ng-click="trololol()"><i class="fa fa-map-o fa-spin"></i> Would you like a map? <i class="fa fa-map-o fa-spin"></i></button>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section
    <section id="venue-information" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>AND DID WE MENTION THERE'S A BUS?!?</h2>
                <i class="fa fa-bus fa-5x fa-spin"></i>
                <p>For an additional $2, you can ride a bus at 3AM!</p>
                <button class="btn btn-default btn-lg"><i class="fa fa-money"></i> <i class="fa fa-bus"></i> PURCHASE BUS TICKETS HERE <i class="fa fa-bus"></i> <i class="fa fa-money"></i></button>
            </div>
        </div>
    </section>
 -->
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <h5>{{cool stuff here for footer}</h5>
        </div>
    </footer>


    <script type="text/ng-template" id="ticketAdditionalInfo.html">
        <div class="modal-container">
            <div class="modal-header">
                <h3 class="modal-title text-center">Ticketing Instructions</h3>
            </div>
            <div class="modal-body center-block">
                <div class="row">
                    <div class="col-md-6 modal-block">
                        <h4 class="text-center">Basic Ticket</h4>
                        <p>Begin by purchasing your ticket with Cinemark. Be sure to click on the time to open the purchase page!
                        </p>
                                <a href="http://www.cinemark.com/theatre-detail.aspx?noredirect=1&node_id=84007#10/30/2015" class="btn btn-default btn-lg center-block col-sm-7 purchase-btn" target="_blank">Cinemark Website</a>

                        <p id="modal-text">In order to insure your reservation with PCM, please provide your ticket number below:</p>
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control input-lg" ng-model="ngTicketNumber" placeholder="Enter your ticket number here...">
                                  <span class="input-group-btn">
                                    <button class="btn btn-success btn-lg" ng-disabled="ngTicketNumber.length <= 10 || !ngTicketNumber" ng-click="confirmTicket()">Confirm!</button>
                                  </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 modal-block modal-block-right">
                        <h4 class="text-center">PCM Challenger Package</h4>
                        <p>You can't boost your ranked elo, but with our Challenger Package, you can boost your swag elo!</p>
                        <p>For $8, the PCM Challenger Package includes transportation from UW to the venue, an Academy Ahri skin code, League-themed stress ball, and the PCM event button. Supplies and transportation spots are limited, so act fast on this one!</p>
                        <button class="btn btn-default btn-lg center-block col-sm-9 purchase-btn" ng-click="trololol2()">Challenger Package</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="close()">Close</button>
            </div>
        </div>
    </script>
</body>

</html>
